/* Coin fade-out animation */
.coin-img {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.font-outline-black {
  -webkit-text-stroke: 1px #000000; /* 1px black stroke */
}

.coin-img.fade-out {
  opacity: 0;
}
.claimedCoin {
  animation: growCoin 0.4s ease-out forwards;
  transform-origin: center;
}

@keyframes growCoin {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


/* Wall falling animation */
/* Initially, the wall is hidden off-view with opacity 0 */
.wall-img {
  position: absolute;
  top: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 1;
  transform: translateY(-200%);
  opacity: 0;
}

/* When the lane is clicked, the wall falls into view */
.wall-img.fall {
  transform: translateY(-40%);
  opacity: 1;
  z-index: 10;
}

@keyframes flyUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  10% {
    opacity: 1;
    transform: translateY(24px);
  }
  90% {
    opacity: 1;
    transform: translateY(-24px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.animate-flyUp {
  animation: flyUp 1.5s linear forwards;
  -webkit-text-stroke: 1px #000000; 
}